.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 30px;
 }
  
.card {
    flex: 0 1 calc(25% - 1em);
    width: 20%;
    padding: 10px;
    border: 1px solid #d6b8ff;
    box-shadow: black;
    margin: 5px;
}